.public-infrastructure-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 70px;
}

.public-infrastructure-image {
    width: 100%;
    height: auto;
    object-fit: cover;
    margin-bottom: 0;
}

.public-infrastructure-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 40px 0px;
}

.public-infrastructure-heading {
    font-family: "Roboto", Sans-serif;
    font-size: 35px;
    font-weight: 600;
    color: #2A2A2A;
}

.public-infrastructure-paragraph {
    font-family: "Roboto", Sans-serif;
    font-size: 20px;
    font-weight: 400;
    color: #000000;
}

.public-infrastructure-footer-image{
    width: 100%;
    height: auto;
    object-fit: cover;
    max-width: 1200px;
}