.exit-signs-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 70px;
}

.exit-signs-image {
    width: 100%;
    height: auto;
    object-fit: cover;
    margin-bottom: 0;
}

.exit-signs-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 40px 0px;
}

.exit-signs-heading {
    font-family: "Roboto", Sans-serif;
    font-size: 35px;
    font-weight: 600;
    color: #2A2A2A;
}

.exit-signs-paragraph {
    font-family: "Roboto", Sans-serif;
    font-size: 20px;
    font-weight: 400;
    color: #000000;
}

.slider-container {
    width: 80%;
    margin-top: -20px;
}

.slide-image {
    width: 95%;
    object-fit: cover;
    border: none;
    border-radius: 0;
    box-shadow: none;
    height: auto;

}